@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: -130px;
}
.logo {
    margin-right: -30px;  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 150%;
    background: linear-gradient(to right, #DCF2F1, #7FC7D9, #365486, #0F1035);
    margin-top: 100px;
  }
  
footer{ /* ใช้แสดง  Copyright 2024 | Thaksin Univerity ของ foter*/
    display: block;
    background: #dddddd;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.467);
    border-top: 1px solid #dddddd;
    
}

.แถบสี { /* แถบสีแสดงทุกหน้า ต้องใส่ทุกหน้า ยังแก้ไม่ได้ */
    width: auto;
    padding: 5px 0;
    height: 18px; 
    width: 100%; 
    background-color: #4979ff;
    color: white; 
}
.หน้าแรกแอดมิน{ /* หน้าแรกของแอดมิน */
    color: #4979ff;
    text-align: center;
    font-size: 37px;
    position: absolute;
    top: 55%; /* ปรับตำแหน่งบน-ล่าง */
    left: 50%; /* ปรับตำแหน่งซ้าย-ขวา */
    transform: translate(-50%, -50%); /* ทำให้ข้อความอยู่ตรงกลาง */
    z-index: 1; /* ทำให้ข้อความอยู่บนรูปภาพ */
}
.logohome{ /* logohome หน้าแรกของแอดมิน */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logohome img { /* logohome หน้าแรกของแอดมิน */
    width: 300%; 
    height: 400px; 
}


/* .logothaksin {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: 550px; 
} */

@keyframes computerLines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  }
}

.bg-grid-pattern {
  background-image: linear-gradient(90deg, rgba(0,255,0,0.1) 1px, transparent 1px), 
                    linear-gradient(rgba(0,255,0,0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

.animate-computerLines {
  animation: computerLines 10s linear infinite;
}


